WinMaitreDImporter/SplickItTrayApp/ExternalOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExternalOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Invoice" type="xs:string" />
        <xs:any minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="Ref" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>