SplickItOrders/RemotePrint/SplickItTrayApp/order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="order_id" type="xs:int" />
          <xs:element name="message_id" type="xs:int" />
          <xs:element name="action" type="xs:string" />
          <xs:element name="results" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="pickup_time" type="xs:string" />
          <xs:element name="merchant_id" type="xs:int" />
          <xs:element name="order_amt" type="xs:decimal" />
          <xs:element name="order_quantity" type="xs:int" />
          <xs:element name="order_details" type="xs:string" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>